
.h1 {
    display: flex;
    justify-content: space-around;
}

.h3 {
    display: flex;
    justify-content: space-around;
}

.addTodoContainer {
    display: flex;
    justify-content: space-around;
}

.addTodoInput {
    margin-top: 1rem !important;
    border-radius: 5px;
}

.addButton {
    margin-top: 1rem !important;
    border-radius: 5px;
    align-items: center;
    height: 2.5rem !important;
    background-color: #fa7087 !important;
    color: white !important;
}